/*  GLOBAL STYLES  */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #2d3c49;
}

a {
    color: #555d6d;
    text-decoration: none;
}

a:hover {
    color: #02b3e4;
}

h2 {
    position: relative;
    text-align: center;
    margin: 1%;
    width: 100%;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
 }

 section {
    padding: 10px;
 }

/* HEADER STYLES */

header {
    width: 100%;
    border-bottom: 1px solid;
    border-color: #7d97ad;
    margin-bottom: 5px;
}

div {
    display: inline-block;
 }

 .header_text {
    text-align: right;
    position: relative;
    padding: 2px;
    margin: 0;
 }

  .logo {
     margin: 1rem;
 }

  .name {
    width: 100%;
    margin: 10px 0;
}

  .job_title {
    font-weight: 200;
    font-style: italic;
}

  .quote {
    width: 100%;
    margin-right: 5px;
    color: #02b3e4;
}

/* MID SECTION */

.section_name {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 15px;
    color: #7d97ad;
}

.container {
    flex-wrap: wrap;
    margin: 0;
    padding: 5px;
}

.main_picture {
    width: 100%;
    padding: 0;
    margin: 0;
}

.box {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid;
    border-color: #7d97ad;
}

.box:hover {
    box-shadow: 0 0 11px #02b3e4;
}

/* OVERLAY */

.over {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #02b3e4;
}

.over:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

/* FOOTER */

footer {
    border-top: 1px solid;
    border-color: #7d97ad;
    align-content: center;
    padding: 1.5rem 0;
    width: 100%;
}

.wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a:not(:last-of-type):after {
    content: '|';
    margin: 0 1rem;
    color: #02b3e4;
}

/* MEDIA QUERIES */

@media screen and (max-width: 510px) {
    .header {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    .header_text {
        width: 65%;
        margin-right: 20px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .div {
        box-sizing: border-box;
        display: inline-block;
        flex-wrap: wrap;
    }

    .job_title {
        padding: 0;
    }

    .container {
        padding: 0;
        margin: 0;
    }

    .box {
        padding: 0;
        margin-bottom: 20px;
    }

    section {
        padding: 0;
        margin: 0;
    }
    a:not(:last-of-type):after {
        margin: 0 0.5em;
    }

    /* OVERLAY OFF */

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #02b3e4;
    }

    .overlay {
        opacity: 1;
    }

    .text {
        color: white;
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media screen and (min-width: 511px) and (max-width: 800px) {
    .header {
        display: flex;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    .header_text {
        position: relative;
        text-align: right;
        padding: 2px;
        width: 80%;
        font-size: 1.3em;
        margin-right: 30px;
    }

    .box {
        width: 45%;
    }

    .text {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media screen and (min-width: 801px) {
    .header {
        display: flex;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .header_text {
        position: relative;
        text-align: right;
        padding: 2px;
        width: 80%;
        font-size: 1.5em;
        margin-right: 30px;
    }

    .box {
        width: 30%;
    }

    .text {
        color: white;
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    body {
        width: 1000px;
        margin: 0 auto;
    }
}
